/*  ======================================================
    Components.Input-number
    ====================================================== */

@use 'src/sass/vars';

/*  Block
    ====================================================== */

.c-input-number {
  display: inline-flex;
}



/*  Elements
    ====================================================== */

.c-input-number__input,
input[type='number'] {
  -moz-appearance: textfield;
  inline-size: calc(3ch + 2 * (#{vars.$space-small} - 2px));
  text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
