/*  ======================================================
    settings.vars
    ====================================================== */

@forward 'node_modules/@supple-kit/supple-css/settings/defaults' with (
  $font-size: 16px,
  $line-height: 24px,
);
@use 'node_modules/@supple-kit/supple-css/settings/defaults';
@use 'node_modules/@supple-kit/supple-css/tools/space';



/*  ======================================================
    Custom
    Place any of your own variables that sit on top of the framework here.
    ====================================================== */

$space-large: space.get('large');
$space-base: space.get('base');
$space-small: space.get('small');
$space-tiny: space.get('tiny');



/*  Fonts
    ====================================================== */

$font-family-primary: 'Public Sans', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size-milli: 14px;



/*  Colors
    ====================================================== */

$color-black: #000000;
$color-white: #ffffff;
$color-gray: #aaaaaa;
$color-gray-light: #dddddd;
$color-red: #ff0000;



/*  More
    ====================================================== */

$global-interaction-states: '&:hover, &:active, &:focus';

/**
Shared styles between input elements
 */
$shared-input-border-width: 2px;
$shared-input-border-radius: 4px;
$shared-input-border-color: $color-black;
$shared-input-background: $color-white;
$shared-input-hover-color: $color-black;
$shared-input-hover-border-color: $color-gray;
$shared-input-hover-background: $color-gray;
$shared-input-invalid-border-color: $color-red;


/*  Animations
    ====================================================== */

$base-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
$base-transition-duration: 300ms;
$base-transition-duration-short: 150ms;
