/*  =========================================================================
    settings.vars
    ========================================================================= */

@forward '../../node_modules/supple/settings/defaults/index' with (
  $font-size: 16px,
  $line-height: 24px,
);

// $breakpoint-has-fractions: (lap, desk);



/*  =========================================================================
    Custom
    Place any of your own variables that sit on top of the framework here.
    ========================================================================= */

/*  Fonts
    ========================================================================= */

$font-family-primary: 'Public Sans', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;



/*  Colors
    ========================================================================= */

$color-black: #000000;
$color-white: #ffffff;
$color-gray: #aaaaaa;
$color-red: #ff0000;



/*  More
    ========================================================================= */

$global-interaction-states: '&:hover, &:active, &:focus';

/**
Shared styles between input elements
 */
$shared-input-border-width: 2px;
$shared-input-border-radius: 4px;
$shared-input-border-color: $color-black;
$shared-input-background: $color-white;
$shared-input-hover-color: $color-black;
$shared-input-hover-border-color: $color-gray;
$shared-input-hover-background: $color-gray;
$shared-input-invalid-border-color: $color-red;


/*  Animations
    ========================================================================= */

$base-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
$base-transition-duration: 300ms;
$base-transition-duration-short: 150ms;
