{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
//    "prettier"
  ],
//  "parser": "@babel/eslint-parser",
//  "plugins": [
//    "import"
//  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true
//    "node": true
  },
  "rules": {
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
