/*  =========================================================================
    Components.Autocomplete
    ========================================================================= */

@use 'sass/vars';

/*  Block
    ========================================================================= */

.c-autocomplete {
  //
}



/*  Elements
    ========================================================================= */

.c-autocomplete__enhanced {
  position: relative;
}

.c-autocomplete__icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: vars.$space-base;
  z-index: 1;
  transform: translate(50%, -50%);
}

.c-autocomplete__icon--clear {
  pointer-events: auto;
}

.c-autocomplete__list {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  background-color: vars.$color-gray;
  max-height: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.c-autocomplete__option {
  padding: vars.$space-tiny;
  border: solid vars.$color-black;
  border-width: 0 1px 1px;
  color: vars.$color-black;

  &[tabindex] {
    cursor: pointer;

    #{vars.$global-interaction-states} {
      background-color: vars.$color-white;
    }
  }
}
