/*  =========================================================================
    Components.Autocomplete
    ========================================================================= */

@use 'sass/vars';
@use 'sass/functions';



/*  Block
    ========================================================================= */

.c-autocomplete {
  //
}



/*  Elements
    ========================================================================= */

.c-autocomplete__enhanced {
  position: relative;
}

.c-autocomplete__field {
  display: grid;
}

.c-autocomplete__input,
.c-autocomplete__icon {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.c-autocomplete__icon {
  align-self: center;
  justify-self: end;
  pointer-events: none;
  margin-inline-end: vars.$space-small;
}

.c-autocomplete__icon--clear {
  pointer-events: auto;
}

.c-autocomplete__list {
  position: absolute;
  z-index: functions.get-z-index(flyout-panel);
  left: 0;
  right: 0;
  background-color: vars.$color-gray;
  max-block-size: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.c-autocomplete__option {
  padding: vars.$space-tiny;
  border: solid vars.$color-black;
  border-width: 0 1px 1px;
  color: vars.$color-black;

  &[tabindex] {
    cursor: pointer;

    #{vars.$global-interaction-states} {
      background-color: vars.$color-white;
    }
  }
}
