<div class="c-form-field">

  {{ render "@atoms-label" label merge=true }}

  {{ render "@atoms-input-autocomplete" autoComplete }}

  <p hidden id="error--{{ name }}" class="c-form-field__message"
     data-module-bind="validate-error"></p>

</div>
