/*  =========================================================================
    Components.Input-control
    ========================================================================= */

/*  Variables
    ========================================================================= */

@use 'sass/vars';



/*  Module
    ========================================================================= */

.c-input-control {
  display: flex;
  align-items: flex-start;
  margin-bottom: vars.$space-tiny;
  position: relative;
}



/*  Elements
    ========================================================================= */

.c-input-control__input {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  opacity: 0;
}

.c-input-control__indicator {
  border: 2px solid vars.$color-black;
  border-radius: 3px;
  margin-right: vars.$space-tiny;
  color: vars.$color-white;
  background-color: vars.$color-white;
  transition: border-color vars.$base-transition-duration-short vars.$base-timing-function;

  svg {
    fill: currentColor;
    width: calc(1.5em - 4px);
    height: calc(1.5em - 4px);
  }
}

.c-input-control__input[type='radio'] ~ .c-input-control__indicator {
  border-radius: 50%;

  svg {
    display: none;
  }

  &::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    margin: 6px;
    background-color: vars.$color-black;
    border-radius: 50%;
    opacity: 0;
    transition: opacity vars.$base-transition-duration-short vars.$base-timing-function;
  }
}

.c-input-control__label {
  //font-weight: $font-weight-regular;
}



/*  States
    ========================================================================= */

.c-input-control:hover .c-input-control__indicator,
.c-input-control__input:focus ~ .c-input-control__indicator {
  border-color: vars.$color-black;
}

.c-input-control__input[type='checkbox']:checked ~ .c-input-control__indicator {
  border-color: vars.$color-black;
  background-color: vars.$color-black;
}

.c-input-control__input[type='radio']:checked ~ .c-input-control__indicator {
  &::after {
    opacity: 1;
  }
}
