/*  =========================================================================
    Components.Input-control
    ========================================================================= */

/*  Variables
    ========================================================================= */

@use 'sass/vars';
$border-color: vars.$shared-input-border-color;
$border-width: vars.$shared-input-border-width;
$border-radius: vars.$shared-input-border-radius;
$background: vars.$shared-input-background;
$icon-color: vars.$shared-input-border-color;
$indicator-size: vars.$line-height;
$radio-dot-size: vars.$space-tiny;
$hover-border-color: vars.$shared-input-hover-border-color;



/*  Module
    ========================================================================= */

.c-input-control {
  display: flex;
  align-items: start;
  gap: vars.$space-tiny;
  //margin-block-end: vars.$space-tiny;
}



/*  Elements
    ========================================================================= */

.c-input-control__input {
  position: absolute;
  block-size: $indicator-size;
  inline-size: $indicator-size;
  opacity: 0;
}

.c-input-control__indicator {
  display: block;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  color: $icon-color;
  background: $background;
  transition: border-color vars.$base-transition-duration-short vars.$base-timing-function;

  svg {
    fill: currentColor;
    block-size: calc(#{$indicator-size} - #{$border-width * 2});
    inline-size: calc(#{$indicator-size} - #{$border-width * 2});
    opacity: 0;
  }
}

.c-input-control__input[type='radio'] ~ .c-input-control__indicator {
  border-radius: 50%;

  svg {
    display: none;
  }

  &::after {
    content: '';
    display: block;
    inline-size: $radio-dot-size;
    block-size: $radio-dot-size;
    margin: ($indicator-size - $border-width * 2 - $radio-dot-size) / 2;
    background-color: $icon-color;
    border-radius: 50%;
    opacity: 0;
    transition: opacity vars.$base-transition-duration-short vars.$base-timing-function;
  }
}



/*  States
    ========================================================================= */

.c-input-control:hover .c-input-control__indicator,
.c-input-control__input:focus ~ .c-input-control__indicator {
  box-shadow: 0 0 0 2px $hover-border-color;
}

.c-input-control__input[type='checkbox']:checked ~ .c-input-control__indicator {
  svg {
    opacity: 1;
  }
}

.c-input-control__input[type='radio']:checked ~ .c-input-control__indicator {
  &::after {
    opacity: 1;
  }
}
