/*  =========================================================================
    Components.Breadcrumbs
    ========================================================================= */

/*  Block
    ========================================================================= */

.c-breadcrumbs {
  //
}



/*  Elements
    ========================================================================= */

.c-breadcrumbs__parent-arrow-right,
.c-breadcrumbs__item {
  display: none;
}

.c-breadcrumbs__parent {
  display: block;
}

.c-breadcrumbs__link {
  &[aria-current] {
    text-decoration: none;

    #{$global-interaction-states} {
      text-decoration: underline;
    }
  }
}


/*  Responsive
    ========================================================================= */

@include supple-mq(lap) {
  .c-breadcrumbs__parent-arrow-right,
  .c-breadcrumbs__item {
    display: block;
  }

  .c-breadcrumbs__parent-arrow-left {
    display: none;
  }
}
