/*  ======================================================
    elements.toplevel
    Describes toplevel styles such as HTML, body, etc.
    ====================================================== */

@use 'node_modules/@supple-kit/supple-css/tools/responsive';
@use 'src/sass/vars';



/*  Module
    ====================================================== */

html {
  font-size: responsive.lock(vars.$font-size, vars.$font-size + 4px, desk, wall);
  font-family: vars.$font-family-primary;
  color: vars.$color-black;
  font-weight: vars.$font-weight-regular;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button svg {
  pointer-events: none;
}

b,
strong {
  font-weight: vars.$font-weight-bold;
}

td,
th,
caption {
  text-align: start;
}

table {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    border: 1px solid vars.$color-gray-light;
    padding: vars.$space-tiny;
  }
}

[hidden] {
  display: none !important;
}
