/*  =========================================================================
    elements.toplevel
    Describes toplevel styles such as HTML, body, etc.
    ========================================================================= */

@use 'sass/vars';



/*  Module
    ========================================================================= */

html {
  font-family: vars.$font-family-primary;
  color: vars.$color-black;
  font-weight: vars.$font-weight-regular;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button svg {
  pointer-events: none;
}

b,
strong {
  font-weight: vars.$font-weight-bold;
}

table {
  width: 100%;
}

td,
th,
caption {
  text-align: left;
}

[hidden] {
  display: none !important;
}
