/*  =========================================================================
    Components.Pagination
    ========================================================================= */

@use 'sass/vars';

/*  Block
    ========================================================================= */

.c-paging {
  //
}



/*  Elements
    ========================================================================= */

.c-paging__layout--no-wrap {
  flex-wrap: nowrap;
}

.c-paging__item {
  display: block;
  padding: vars.$space-tiny;
  min-width: vars.$space-tiny*5;
  text-align: center;
  text-decoration: none;

  #{vars.$global-interaction-states} {
    //background-color: vars.$color-off-black;
  }

  &[aria-current='true'] {
    //background-color: vars.$color-off-black;
  }
}

.c-paging__prev {
  order: -2;
}

.c-paging__panes {
  order: -1;
}
