<nav class="c-paging" aria-labelledby="pagination-label">
  <div hidden id="pagination-label">Pagination</div>

  <div class="o-layout  c-paging__layout--no-wrap  o-layout--align-inline-center  o-layout--align-block-center">

    {{#if nextIsAvailable }}
      <div class="c-paging__next  o-layout__fit">
        <a href="#" class="c-paging__item">
          <span class="u-visually-hidden">Next</span>
          {{ render '@atoms-icon--chevron-right' }}
        </a>
      </div>
    {{/if}}

    {{#if prevIsAvailable }}
      <div class="c-paging__prev  o-layout__fit">
        <a href="#" class="c-paging__item">
          <span class="u-visually-hidden">Vorige</span>
          {{ render '@atoms-icon--chevron-left' }}
        </a>
      </div>
    {{/if}}

    <div class="c-paging__panes  o-layout__fit">
      <ol class="o-layout  o-layout--align-inline-center">

        {{#each pages }}
          <li class="o-layout__fit">
            <a
              href="#"
              class="c-paging__item"
              {{#if (eq ../currentPage this) }}
              aria-current="true"
              {{/if}}
            >
              {{ this }}
            </a>
          </li>
        {{/each}}

      </ol>
    </div>

  </div>
</nav>
