/*  ======================================================
    Components.Flyout
    ====================================================== */

//@use 'src/sass/vars';
@use 'node_modules/@supple-kit/supple-css/tools/responsive';
@use 'src/sass/functions';



/*  Module
    ====================================================== */

.c-flyout {
  display: inline-block;
}



/*  Elements
    ====================================================== */

.c-flyout__wrap-button {
  position: relative;
  display: inline-block;
}

.c-flyout__panel {
  position: absolute;
  z-index: functions.get-z-index(flyout-panel);
  inset-inline: var(--space-tiny);
  margin-block-start: var(--space-small);
  border: 1px solid var(--color-gray);
  padding: var(--space-small);
  opacity: 0;
  transition: opacity var(--base-transition-duration-short);

  &.is-open {
    opacity: 1;
  }
}

.c-flyout__arrow {
  position: absolute;
  z-index: functions.get-z-index(flyout-panel) + 1;
  inset-block-start: calc(100% + var(--space-tiny) + 1px);
  inset-inline-start: 50%;
  transform: translateX(-50%);
  color: var(--color-white);
  filter: drop-shadow(0 -1px 0 var(--color-gray));
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--base-transition-duration-short);

  .c-icon {
    inline-size: 16px;
    block-size: 8px;
  }
}

.c-flyout__button[aria-expanded='true'] + .c-flyout__arrow {
  opacity: 1;
}

.c-flyout__close-icon {
  position: relative;
  z-index: 3;
  display: block;
}



/*  Responsive
    ====================================================== */

@include responsive.mq(lap) {
  .c-flyout {
    position: relative;
  }

  .c-flyout__panel {
    inset-inline-start: 50%;
    transform: translateX(-50%);
    min-inline-size: 360px;

    &.is-offset-inline-start {
      inset-inline-start: 0;
      transform: translateX(0);
    }

    &.is-offset-inline-end {
      inset-inline-start: auto;
      transform: translateX(0);
      inset-inline-end: 0;
    }
  }
}
