<ul class="o-list-clean  c-list-links">
  {{#each items}}
    <li class="c-list-links__item">
      <a href="{{ link }}" class="c-list-links__link">
        {{#> '@atoms-layout' element='span' gap='tiny' align-block='center' }}
          {{#> '@atoms-cell' fill=true }}
            {{ label }}
          {{/'@atoms-cell'}}
          {{#> '@atoms-cell' fit=true }}
            {{ render '@atoms-icon--chevron-right' }}
          {{/'@atoms-cell'}}
        {{/'@atoms-layout'}}
      </a>
    </li>
  {{/each}}
</ul>
