<ul class="c-accordeon">
  {{#each items }}
    <li>
      <details class="c-accordeon__item" data-module="accordeon">
        <summary class="c-accordeon__summary" data-module-bind="accordeon-summary">
          {{#> '@atoms-layout' fit=true gap='small' }}
            <div class="c-accordeon__icon">
              {{ render '@atoms-icon' icon='plus' }}
            </div>
            {{#> '@atoms-cell' fill=true }}
              <h3>{{ heading }}</h3>
            {{/ '@atoms-cell' }}
          {{/'@atoms-layout'}}
        </summary>

        <div class="c-accordeon__content-container" data-module-bind="accordeon-content">
          <div class="c-accordeon__content  o-flow">
            {{{ content }}}
          </div>
        </div>
      </details>
    </li>
  {{/each}}
</ul>
