<div class="c-form-field">
  {{ render "@atoms-label" label merge=true }}
  {{ render "@atoms-input-text" input merge=true }}
  <p hidden id="error--{{ name }}" class="c-form-field__message" data-module-bind="validate-error">Error for {{ name }}.</p>
</div>
