/*  =========================================================================
    Components.Forms
    ========================================================================= */

.c-form-field {
  margin-bottom: $supple-space-base;
}



/*  Elements
    ========================================================================= */

.c-form-field__error {
  color: #ff0000;
  margin-top: $supple-space-tiny;
  margin-bottom: 0;
}
