/*  ======================================================
    Objects.Layout
    ====================================================== */

//@use 'src/sass/vars';
@use 'node_modules/@supple-kit/supple-css/objects/layout' with (
  $gaps: (
    'base',
    'small',
    'tiny',
  ),
);



/*  Module overrides, extensions
    ====================================================== */

/**
No wrap
 */
.o-layout--no-wrap {
  flex-wrap: nowrap;
}

/**
Justify
 */
.o-layout--justify {
  justify-content: space-between;
}
