/*  =========================================================================
    Components.InputText
    ========================================================================= */

/*  Variables
    ========================================================================= */

@use 'sass/vars';
$color: vars.$color-black;
$border-width: vars.$shared-input-border-width;
$border-radius: vars.$shared-input-border-radius;
$border-color: vars.$shared-input-border-color;
$background: vars.$shared-input-background;
$hover-border-color: vars.$shared-input-hover-border-color;
$invalid-border-color: vars.$shared-input-invalid-border-color;



/*  Module
    ========================================================================= */

.c-input-text {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  background: $background;
  padding: calc(#{vars.$space-small} - #{$border-width});
  box-shadow: none;
  inline-size: 100%;
  font: inherit;
  appearance: none;

  #{vars.$global-interaction-states} {
    box-shadow: 0 0 0 $border-width $hover-border-color;
  }

  &[aria-invalid='true'] {
    border-color: $invalid-border-color;
  }
}



/*  Modifiers
    ========================================================================= */

.c-input-text--textarea {
  resize: vertical;
}
