/*  =========================================================================
    Components.InputText
    ========================================================================= */

@use 'sass/vars';

/*  Module
    ========================================================================= */

.c-input-text {
  //border: 2px solid vars.$color-beige;
  border-radius: 2px;
  //background: vars.$color-white;
  padding: calc(#{vars.$space-tiny * 1.5} - 2px) calc(#{vars.$space-small} - 2px);
  //color: vars.$color-off-black;
  outline: 0;
  box-shadow: none;
  width: 100%;
  font: inherit;
  line-height: vars.$line-height-ratio;
  appearance: none;
  //transition: border-color $base-transition-duration-short $base-timing-function;

  &:focus,
  &:hover {
    //border-color: vars.$color-gray;
  }

  &[aria-invalid='true'] {
    border-color: #ff0000;
  }
}



/*  Modifiers
    ========================================================================= */

.c-input-text--textarea {
  resize: vertical;
}
