/*  =========================================================================
    Components.InputText
    ========================================================================= */

/*  Variables
    ========================================================================= */

@use 'sass/vars';
$color: vars.$color-black;
$border-width: 2px;
$border-radius: 4px;
$border-color: vars.$color-black;
$background: vars.$color-white;
$hover-color: vars.$color-black;
$hover-border-color: vars.$color-black;
$hover-background: vars.$color-gray;
$invalid-border-color: vars.$color-red;



/*  Module
    ========================================================================= */

.c-input-text {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  background: $background;
  padding: calc(#{vars.$space-small} - #{$border-width});
  box-shadow: none;
  width: 100%;
  font: inherit;
  appearance: none;

  &[aria-invalid='true'] {
    border-color: $invalid-border-color;
  }
}



/*  Modifiers
    ========================================================================= */

.c-input-text--textarea {
  resize: vertical;
}
