<article class="c-card  o-clickable">

  <div class="o-reorder-column">

    <div class="c-card__content  o-flow  o-flow--tiny">
      <h3>
        <a href="#">{{ heading }}</a>
      </h3>

      <p>{{ description }}</p>

      {{ render '@atoms-button' button }}
    </div>

    <div class="o-reorder-column__first">
      {{ render '@atoms-image' image }}
    </div>

  </div>
</article>
