/*  =========================================================================
    Components.Input-number
    ========================================================================= */

/*  Block
    ========================================================================= */

.c-input-number {
  display: inline-flex;
}



/*  Elements
    ========================================================================= */

.c-input-number__input,
input[type='number'] {
  -moz-appearance: textfield;
  width: calc(3ch + 2 * (#{$supple-space-small} - 2px));
  text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.c-input-number__btn {
  background-color: #dddddd;
}
