/*  =========================================================================
    Foundation.Atoms.Forms.InputSelect
    Purely css styled select input field
    ========================================================================= */

/*  Variables
    ========================================================================= */

@use 'sass/vars';



/*  Module
    ========================================================================= */

.c-select {
  position: relative;
  display: inline-block;
  width: 100%;
}



/*  Elements
    ========================================================================= */

.c-select__element {
  appearance: none;
  padding-right: 2.5rem;

  &::-ms-expand {
    display: none;
  }
}

.c-select__wrap-icon {
  position: absolute;
  top: 50%;
  right: vars.$space-small;
  z-index: 1;
  transform: translateY(-50%);
  pointer-events: none;
}
