/*  =========================================================================
    Atoms.InputSelect
    Purely css styled select input field
    ========================================================================= */

/*  Variables
    ========================================================================= */

@use 'sass/vars';



/*  Module
    1. Overlap the <select> and icon, align with logical properties
    ========================================================================= */

.c-select {
  display: grid; /* [1] */
}



/*  Elements
    ========================================================================= */

.c-select__element {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  appearance: none;
  padding-inline-end: 2.5rem;

  &::-ms-expand {
    display: none;
  }
}

.c-select__wrap-icon {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: end;
  align-self: center;
  padding-inline-end: vars.$space-small;
  pointer-events: none;
}
