<share-button>
  fallback?
  <template data-fallback>
    <o-layout fit gap="tiny" role="list">
      <li>
        <a href="#">Facebook</a>
      </li>
      <li>
        <a href="#">Twitter</a>
      </li>
    </o-layout>
  </template>
</share-button>
