/*  =========================================================================
    Object.Reorder column
    Changes the visual order, so heading comes first in source order, but other content appears above it
    ========================================================================= */

/*  Module
    ========================================================================= */

.o-reorder-column {
  display: flex;
  flex-direction: column;
}



/*  Elements
    ========================================================================= */

.o-reorder-column__first {
  order: -1;
}

.o-reorder-column__align-bottom {
  margin-block-start: auto;
}
