/*  ======================================================
    Components.Show-More
    ====================================================== */

/*  Block
    ====================================================== */

.c-show-more {
  //
}



/*  Elements
    ====================================================== */

.c-show-more__container {
  transition: height var(--base-transition-duration) var(--base-timing-function);
}

.c-show-more__content {
  padding-block-end: var(--space-base);

}

.c-show-more__divider {
  display: flex;

  .c-show-more__btn {
    transform: translateY(-50%);
  }

  &::before,
  &::after {
    content: '';
    display: block;
    block-size: 1px;
    flex-grow: 1;
    background-color: var(--color-black);
  }
}



/*  States
    ========================================================================= */

.c-show-more:not([open]) {
  .c-show-more__container {
    mask-image: linear-gradient(to top, transparent, #000000 var(--space-huge));
  }
}
