<section class="o-layer  o-layer--large  t-bg--white">
  <div class="o-retain  o-retain--default">

    <div class="o-layout  o-layout--gutter">
      <div class="o-layout__cell  u-fraction--8of12@from-lap  u-fraction--5of12@from-desk">
        <h1>The title of the form</h1>

        <form method="post" action="" data-module="ui/validate">
          <fieldset>
            <legend class="u-heading  h3">Text inputs</legend>
            {{ render "@field-input-text" }}
            {{ render "@field-input-submit" }}
          </fieldset>
        </form>
      </div>
    </div>

  </div>
</section>
