<div class="o-layout__cell  {{#if fit}}o-layout__cell--fit{{/if}}  {{#if fill}}o-layout__cell--fill{{/if}}  {{#if modifier}}{{ modifier }}{{/if}}">
  {{#>@partial-block}}

  {{/@partial-block }}
</div>
