<table>
  <caption class="u-heading  h3">Product properties</caption>
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Color</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">A hat</th>
      <td>€&nbsp;10,-</td>
      <td>Purple</td>
    </tr>
    <tr>
      <th scope="row">A coat</th>
      <td>€&nbsp;30,-</td>
      <td>Green</td>
    </tr>
    <tr>
      <th scope="row">Shoes</th>
      <td>€&nbsp;25,-</td>
      <td>Black</td>
    </tr>
  </tbody>
</table>
