/*  =========================================================================
    Components.Forms
    ========================================================================= */

@use 'sass/vars';



/*  Variables
    ========================================================================= */

$color-error: vars.$color-red;



/*  Block
    ========================================================================= */

.c-form-field {
  margin-block-end: vars.$space-base;
}



/*  Elements
    ========================================================================= */

.c-form-field__message {
  margin-block-start: vars.$space-tiny;
  margin-block-end: 0;
  color: $color-error;
}
