<fieldset class="c-form-field">
  {{ render "@atoms-label" label merge=true }}
  {{#> '@atoms-layout' element='ul' gap='base' fit=true }}
    {{#each items }}
      <li>
        {{ render '@atoms-input-control' item merge=true }}
      </li>
    {{/each}}
  {{/'@atoms-layout'}}
  <p hidden id="error--{{ name }}" class="c-form-field__message" data-module-bind="validate-error">
    Error for {{ name }}.</p>
</fieldset>
