/*  =========================================================================
    atoms.icon
    Icon system based on svg sprites
    ========================================================================= */

@use 'src/sass/vars';

/*  Module
    ========================================================================= */

.c-icon {
  display: block;
  inline-size: vars.$line-height;
  block-size: vars.$line-height;
  fill: currentColor;
}
