/*  =========================================================================
    atoms.icon
    Icon system based on svg sprites
    ========================================================================= */

/*  Module
    ========================================================================= */

.c-icon {
  display: block;
  width: #{$supple-line-height-ratio}em;
  height: #{$supple-line-height-ratio}em;
  fill: currentColor;
}



/*  Modifiers
    ========================================================================= */

.c-icon--beta {
  //width: $beta;
  //height: $beta;
}

.c-icon--delta {
  //width: $delta;
  //height: $delta;
}
