/*  =========================================================================
    Components.Label
    ========================================================================= */

/*  Module
    ========================================================================= */

label,
legend,
.c-label {
  display: block;
  margin-bottom: $supple-space-tiny;
}



/*  Elements
    ========================================================================= */

.c-label__label,
.c-label__hint {
  display: block;
}

.c-label__label {
  //font-weight: $font-weight-bold;
}
