/*  =========================================================================
    Components.Tablist
    ========================================================================= */

@use 'sass/vars';
@use '@supple-kit/supple-css/tools/mixins';



/*  Module
    ========================================================================= */

.c-tabs {
  //
}



/*  Elements
    ========================================================================= */

/**
  Container for adding a fake border at the top of the panel
 */
.c-tabs__wrap-tablist {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: vars.$color-white;

  &::after {
    content: '';
    flex-grow: 1;
    border-block-end: 1px solid vars.$color-black;
  }
}

.c-tabs__tablist {
  display: inline-flex;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}


/**
<button>
1. Focus state.
2. Polyfill is added for :focus-visible. Focus styles removed again if focus is set via keyboard nav.
 */
.c-tabs__tab {
  display: block;
  flex-shrink: 0;
  padding: vars.$space-small;
  text-decoration: none;
  position: relative;
  border-inline-start: 1px solid vars.$color-black;
  border-block: 1px solid vars.$color-black;
  background-color: vars.$color-gray-light;

  &:last-child {
    border-inline-end: 1px solid vars.$color-black;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    background-color: vars.$color-black;
    inline-size: vars.$space-tiny;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform vars.$base-transition-duration-short vars.$base-timing-function;
  }

  &[aria-selected='true'] {
    border-block-end-color: transparent;
    background-color: vars.$color-white;
    z-index: 1;

    &::before {
      transform: scaleX(1);
    }
  }

  #{vars.$global-interaction-states} {
    background-color: vars.$color-white;
  }

  &:focus {
    text-decoration: underline; /* [1] */

    &:not(.focus-visible) {
      .js-focus-visible & {
        text-decoration: none; /* [2] */
      }
    }
  }
}

.c-tabs__tablist-expanded {
  display: none;
  position: sticky;
  top: 0;
  margin-block: vars.$space-large;
}


/**
  Panel which holds the content
 */
.c-tabs__panel {
  position: relative;
  margin-block-end: vars.$space-base;
  padding: vars.$space-base;
  scroll-margin-top: vars.$space-large + vars.$space-tiny;

  &:focus {
    outline: 2px solid transparentize(vars.$color-black, 0.8); /* [1] */

    &:not(.focus-visible) {
      .js-focus-visible & {
        outline: none; /* [2] */
      }
    }
  }
}



/*  Responsive
    ========================================================================= */

@include mixins.mq(desk) {
  .c-tabs__tablist-expanded {
    display: block;
  }

  .c-tabs__wrap-tablist {
    display: none;
  }

  .c-tabs__tab {
    border-block-end: none;

    &:last-child {
      border-inline-end: none;
      border-block-end: 1px solid vars.$color-black;
    }
  }

  .c-tabs__panel {
    border: 1px solid vars.$color-black;
  }
}
