<div class="c-form-field">
  {{ render "@label" }}
  {{ render "@inputtext" }}
  <p hidden id="{{errorId}}" class="c-form-field__error" data-module-bind="validate-error">This is
    an error / extra help message.</p>
</div>
