<div class="c-form-field">
  {{ render "@atoms-label" }}
  {{ render "@atoms-inputtext" }}
  <p hidden id="{{errorId}}" class="c-form-field__error" data-module-bind="validate-error">This is
    an error / extra help message.</p>
</div>
