<div class="c-form-field">
  {{> "@atoms-label" label=this.label for=this.name }}
  {{> "@atoms-input-text" name=this.name type=this.type }}
  <p hidden id="error--{{name}}" class="c-form-field__error" data-module-bind="validate-error">This is
    an error / extra help message.</p>
</div>
