/*  =========================================================================
Atoms.Button
========================================================================= */

/*  Module
    ========================================================================= */

.c-button {
  appearance: none;
  // box model
  display: inline-block;
  vertical-align: middle;
  // spacing
  //border: 1px solid $color-brand-primary-base;
  border-radius: 5px;
  // text
  text-decoration: none;
  text-align: left;
  font: inherit;
  //font-size: $micro;
  text-transform: uppercase;
  //font-weight: $font-weight-semibold;
  line-height: 0;
  letter-spacing: 1px;
  background-color: $color-white;
  border: 1px solid $color-black;
  // animation
  //transition: $base-transition-duration-short $base-timing-function;
  transition-property: color, background-color, border;

  //#{$global-interaction-states} {
    //background-color: #a71432; // todo: enable
    //border-color: #a71432; // todo: enable
    //color: $color-white;

    //&a.c-button__wrap-icon {
    //  transform: translateX($supple-space-tiny / 2);
    //}
  //}

  // if supported
  &:focus-visible {
    //outline: none;
    //box-shadow: 0 0 2px 2px $color-brand-c; // todo: enable
  }

  // firefox' way of support
  &:-moz-focusring {
    //outline: none;
    //box-shadow: 0 0 2px 2px $color-brand-c; // todo: enable
  }
}



/*  Elements
    ========================================================================= */

/**
  * 1. Reset that line-height again
  */
.c-button__inner {
  display: flex;
  line-height: 1; /* [1] */
}

.c-button__label {
  padding: $supple-space-tiny*1.5 $supple-space-small;
  //color: $color-brand-primary-base;
}



/*  Modifiers
    ========================================================================= */

.c-button--large {
  //font-size: $normalis;
  //font-weight: $font-weight-extrabold;
  letter-spacing: 0.5px;

  .c-button__label {
    padding: $supple-space-small;
  }
}

.c-button--flat {
  background-color: transparent;
  border: none;

  .c-button__label {
    padding: 0;
  }
}


/**
  * Reversed
 */
.c-button--reversed {
  .c-button__inner {
    flex-direction: row-reverse;
  }
}


/**
  * Full width
  */
.c-button--full-width {
  width: 100%;
}


/**
  * Colours
  */
.c-button--contrast {
  //background-color: $color-brand-secondary-base;
  //border-color: $color-brand-secondary-base;

  .c-button__label {
    //color: $color-white;
  }
}



/*  Theming
    ========================================================================= */

.t-color--light {
  .c-button--flat {
    .c-button__label {
      //color: $color-white;
    }
  }
}
