<primary-nav>
  <button data-wc="primary-nav-toggle" class="c-button" aria-controls="1">
    <span class="c-button__inner">
      <span class="c-button__label">
        One
      </span>
    </span>
  </button>

  <button data-wc="primary-nav-toggle" class="c-button" aria-controls="2">
    <span class="c-button__inner">
      <span class="c-button__label">
       Two
      </span>
    </span>
  </button>

  <div data-wc="primary-nav-panel" id="1" hidden>
    Foldout 1
  </div>

  <div data-wc="primary-nav-panel" id="2" hidden>
    Foldout 2
  </div>

  <p>
  <button data-wc="primary-nav-overlay" hidden>
    Overlay
  </button>
  </p>
</primary-nav>
