/*  =========================================================================
    Components.Label
    ========================================================================= */

@use 'sass/vars';

/*  Module
    ========================================================================= */

label,
legend,
.c-label {
  display: block;
  margin-block-end: vars.$space-tiny;
}



/*  Elements
    ========================================================================= */

.c-label__label,
.c-label__hint {
  display: block;
}

.c-label__label {
  font-weight: vars.$font-weight-bold;
}

