/*  =========================================================================
    Components.Slider
    ========================================================================= */

@use 'src/sass/vars';



/*  Block
    ========================================================================= */

.c-slider {
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  mask-image: linear-gradient(to right, transparent 0, vars.$color-black vars.$space-base, vars.$color-black calc(100% - #{vars.$space-base}), transparent 100%);
}



/*  Elements
    ========================================================================= */

.c-slider__cell {
  //min-width: auto;
  min-width: calc((100% / var(--columns) * var(--colspan)) - var(--layout-gap));
}

.c-slider__slide {
  //max-width: 75vw;
  //width: 280px;
  scroll-snap-align: start;

  &.is-visible {
    background-color: #ffa100;
  }
}

.c-slider__instruction {
  display: none;
}

.c-slider__btn {
  &:disabled {
    color: vars.$color-gray;
  }
}



/*  States
    ========================================================================= */

.c-slider:hover {
  + .c-slider__instructions {
    .c-slider__instruction--hover {
      display: block;
    }
  }
}

.c-slider:focus {
  + .c-slider__instructions {
    .c-slider__instruction--focus {
      display: block;
    }
  }
}
