/*  =========================================================================
    Components.Slider
    ========================================================================= */

@use 'src/sass/vars';



/*  Block
    ========================================================================= */

.c-slider {
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  mask-image: linear-gradient(to right, transparent 0, vars.$color-black vars.$space-base, vars.$color-black calc(100% - #{vars.$space-base}), transparent 100%);
  margin-inline: vars.$space-base * -1;
  padding-inline: vars.$space-base;
}



/*  Elements
    ========================================================================= */

.c-slider__cell {
  min-inline-size: auto;
  scroll-snap-align: start;

  &:last-child {
    padding-inline-end: var(--layout-gap);
  }
}

.c-slider__slide {
  min-width: 320px;
}

.c-slider__instruction {
  display: none;
}

.c-slider__btn {
  &:disabled {
    color: vars.$color-gray;
  }
}



/*  States
    ========================================================================= */

.c-slider:hover {
  + .c-slider__instructions {
    .c-slider__instruction--hover {
      display: block;
    }
  }
}

.c-slider:focus {
  + .c-slider__instructions {
    .c-slider__instruction--focus {
      display: block;
    }
  }
}
