<facet-filter apiurl="https://www.vesteda.com/api/units/search">

  <facet-list>
    <template id="item">
      <li>
        <div class="o-layout  o-layout--fit  o-layout--gap-tiny">
          <input id="cid" type="checkbox">
          <label for="cid">
            Check 1
          </label>
        </div>
      </li>
    </template>
    <ul class="o-list-clean"></ul>
  </facet-list>


  <ul>
    <li>
      <article>
        <h3>Article title</h3>
      </article>
    </li>
  </ul>
</facet-filter>
