/*  =========================================================================
    Components.Modal
    ========================================================================= */

@use 'sass/vars';
@use 'sass/functions';
@use 'supple/tools/mixins';

/*  Animation
    ========================================================================= */

@keyframes modalIn {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(vars.$space-large);
  }

  1% {
    display: block;
    opacity: 0;
    transform: translateY(vars.$space-large);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes overlayIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/*  Block
    ========================================================================= */

.c-modal {
  position: fixed;
  z-index: functions.get-z-index(modal);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}



/*  Elements
    ========================================================================= */

.c-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparentize(vars.$color-black, 0.5);
  opacity: 0;
}

.c-modal__modal {
  background-color: vars.$color-white;
  inline-size: calc(100% - #{vars.$space-base});
  max-inline-size: 640px;
  max-block-size: calc(100% - #{vars.$space-base});
  display: flex;
  flex-direction: column;
  position: relative;

  &::after { /* [1] */
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    block-size: vars.$space-small;
    background-image: linear-gradient(transparentize(vars.$color-white, 1), vars.$color-white);
  }
}

.c-modal__close-button {
  display: block;
  // todo: size to heading h3. seems not correct to do it via font-size.
}

.c-modal__header {
  border-block-end: 1px solid vars.$color-black;
  padding: vars.$space-small;
}

.c-modal__content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: vars.$space-small;
}



/*  State
    ========================================================================= */

.c-modal[aria-hidden='false'] {
  display: flex;

  .c-modal__modal {
    animation: modalIn vars.$base-transition-duration ease-out;
  }

  .c-modal__overlay {
    animation: overlayIn vars.$base-transition-duration-short linear forwards;
  }
}



/*  Responsive
    ========================================================================= */

@include mixins.mq(lap) {
  .c-modal__header,
  .c-modal__content {
    padding: vars.$space-base;
  }

  .c-modal__modal {
    max-block-size: calc(100% - #{vars.$space-base*2});

    &::after {
      block-size: vars.$space-base;
    }
  }
}
