/*  ======================================================
    Components.Modal
    ====================================================== */

@use 'src/sass/vars';
@use 'src/sass/functions';
@use 'node_modules/@supple-kit/supple-css/tools/responsive';
@use 'node_modules/@supple-kit/supple-css/generic/reset';


/*  Animation
    ====================================================== */

@keyframes modalIn {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(vars.$space-large);
  }

  1% {
    display: block;
    opacity: 0;
    transform: translateY(vars.$space-large);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes overlayIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/*  Block
    ====================================================== */

.c-modal::backdrop {
  background-color: var(--color-white);
  backdrop-filter: blur(1rem);
}

.c-modal {
  padding: 0;
  box-shadow: 0 var(--space-base) var(--space-base) var(--color-black);
  border-radius: var(--space-tiny);
  transition: opacity var(--base-transition-duration) var(--base-timing-function);
  opacity: 0;
  inline-size: 50%;
  max-inline-size: 40rem;

  &[open] {
    opacity: 1;
    animation: modalIn var(--base-transition-duration) var(--base-timing-function) forwards;
  }
}

.c-modal__header {
  background-color: var(--color-gray-light);
  position: sticky;
  top: 0;
}

.c-modal__header,
.c-modal__content {
  padding: var(--space-base);
}

.c-modal__close {
  background-color: var(--color-white);
  border-radius: 50%;
  padding: var(--space-tiny);
  outline: 1px solid var(--color-gray);
}
