/*  ======================================================
    Components.Modal
    ====================================================== */

@use 'src/sass/vars';
@use 'src/sass/functions';
@use 'node_modules/@supple-kit/supple-css/tools/responsive';



/*  Animation
    ====================================================== */

@keyframes modalIn {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(vars.$space-large);
  }

  1% {
    display: block;
    opacity: 0;
    transform: translateY(vars.$space-large);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes overlayIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/*  Block
    ====================================================== */

.c-modal {
  position: fixed;
  z-index: functions.get-z-index(modal);
  inset: 0;
  justify-content: center;
  align-items: center;
}



/*  Elements
    ====================================================== */

.c-modal__overlay {
  position: fixed;
  inset: 0;
  background-color: transparentize(vars.$color-black, 0.5);
  opacity: 0;
}

/**
  Scroll hints
 */
.c-modal__modal,
.c-modal__header {
  &::after {
    content: '';
    position: absolute;
    inset: auto 0 0;
    block-size: vars.$space-small;
    background-image: linear-gradient(transparentize(vars.$color-white, 1), vars.$color-white);
  }
}

.c-modal__modal {
  background-color: vars.$color-white;
  inline-size: calc(100% - #{vars.$space-base});
  max-inline-size: 640px;
  max-block-size: calc(100% - #{vars.$space-base});
  display: flex;
  flex-direction: column;
  position: relative;
}

.c-modal__close-button {
  display: block;
}

.c-modal__header {
  border-block-end: 1px solid vars.$color-black;
  padding: vars.$space-small;
  position: relative;

  &::after {
    // reposition, reverse gradient
    inset: calc(100% + 1px) 0 auto;
    background-image: linear-gradient(vars.$color-white, transparentize(vars.$color-white, 1));
  }
}

.c-modal__overflow {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.c-modal__content {
  padding: vars.$space-small;
}



/*  State
    ====================================================== */

.c-modal[aria-hidden='false'] {
  display: flex;

  .c-modal__modal {
    animation: modalIn vars.$base-transition-duration ease-out;
  }

  .c-modal__overlay {
    animation: overlayIn vars.$base-transition-duration-short linear forwards;
  }
}



/*  Responsive
    ====================================================== */

@include responsive.mq(lap) {
  .c-modal__header,
  .c-modal__content {
    padding: vars.$space-base;
  }

  .c-modal__modal,
  .c-modal__header {
    &::after {
      block-size: vars.$space-base;
    }
  }

  .c-modal__modal {
    max-block-size: calc(100% - #{vars.$space-base*2});
  }
}
